@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-light py-5 mb-4">
    <div class="container">
        <h1 class="display-4">Hello, I'm Micheal</h1>
        <p class="lead">I'm learning C# and ASP.NET Core MVC to build modern, scalable web applications.</p>
        <hr class="my-4" />
        <p>This portfolio site is a sandbox where I practice new features, explore frameworks, and share what I'm building.</p>
        <a class="btn btn-primary btn-lg" href="/CvResume" role="button">View Resume</a>
    </div>
</div>
